<section class="bottom">
    <section class="attribution">
        <a href="https://creativecommons.org/licenses/by-nc-sa/2.0/"><span itemprop="copyrightHolder">cc-by-nc-sa</span></a> | <a href="http://twitter.com/dgaff">Twitter</a> | <a href="/files/resume.pdf">CV</a>
    </section>
</section>